<%- include('layout/head.ejs')%>
<body>
<%- include('layout/header.ejs')%>


<% if (showTodoPage) { %>
        <%- include('pages/todo.ejs') %>
<% } else { %>
        <%- include('pages/done.ejs') %>
<% } %>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="./scripts/index.js"></script>