<main class="main">
    <div class="task-form">
        <form action="/add-task" method="POST">
            <input class="input" type="text" name="task" placeholder="I need to...">
            <button class="task-form__button button" type="submit">Create</button>
        </form>
    </div>
    <h2>Todo List</h2>
    <ul class="list">
        <% tasks.map((task) => { %>
            <li class="list__item">
                <div class="checkbox"></div>
                <span class="list__item-text"><%= task %></span>
            </li>
        <% }); %>
    </ul>
    <% if (tasks.length === 0) { %>
        <%- include('../partials/no-tasks.ejs') %>
    <% } %>
    <% switch (true) {
    case (showAddedTask):
    %>
    <%- include('../partials/added-task.ejs') %>
    <% break;
    case (isShort):
    %>
    <%- include('../partials/invalid-task-minimal-length-3.ejs') %>
    <% break;
    case (isAlreadyExist !== ""):
    %>
    <%- include('../partials/already-exist-task.ejs') %>
    <% break;
    } %>
</main>
