<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple TODO Application</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>